<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SnakeWorld_Server.Properties.Settings.sacredware_webConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Database=sacredware_web;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SnakeWorld_Server.Properties.Settings.snakeworldConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Database=snakeworld;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>